<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482543933000-ouuedbfdni4rdju184njjo2omfucta77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482543933000-ouuedbfdni4rdju184njjo2omfucta77</string>
	<key>API_KEY</key>
	<string>AIzaSyCGgsF1TEggBrY94wr-jFF1Ac2jliT_mcg</string>
	<key>GCM_SENDER_ID</key>
	<string>482543933000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.animagie.application</string>
	<key>PROJECT_ID</key>
	<string>animagie-8f2fe</string>
	<key>STORAGE_BUCKET</key>
	<string>animagie-8f2fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482543933000:ios:982a2ba926dae47ec2aa7d</string>
</dict>
</plist>